@import "chip-input.css";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(160, 160, 160, 0.5);
}

:root {
    margin: 10vh 5vw;

    --base-color: #1C2021;
    --complement-color: #262E30;
    --highlight-color: #FF9700;
    --text-color: white;
    --outline-color: white;
    --disabled-color: #4C555C;
    --link-color: #A881FF;

    --window-width: 768px;
    --window-height: 576px;
}

body {
    background: #121212;
    color: var(--text-color);
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    filter: brightness(80%);
    text-decoration: underline;
}

button, select, input, label {
    cursor: pointer;
    font-family: inherit;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-label-cell {
    display: table-cell;
    white-space: nowrap;
    width: 1px;
}

.table-input-cell {
    display: table-cell;
}

.table-tags-cell {
    display: table-cell;
}

.table-delete-cell {
    display: table-cell;
    text-align: end;
    width: 52px;
}

.table-input-cell > input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.table-delete-cell > button {
    box-sizing: border-box;
}

.table-spacer {
    height: 100% !important;
}

.table-spacer:hover {
    outline: none !important;
}

.closeButton {
    background: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.closeButton:hover {
    background: orangered;
    color: black;
}

.hidden {
    display: none !important;
}

#root {
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--base-color);
    position: relative;
    min-width: var(--window-width);
    min-height: var(--window-height);
    height: 80vh;
    padding: 5px;
}

.tabs {
    display: flex;
    margin: 0;
    padding: 0;
}

.tabs > button {
    display: flex;
    flex: 1;
    align-items: start;
    background-color: var(--complement-color);
    filter: brightness(80%);
    color: inherit;
    border: none;
    outline: 1px solid var(--base-color);
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
    cursor: pointer;
    padding: 3px 0 7px 0;
    margin: 4px 0 0 0;
}

.tabs > button:hover {
    filter: brightness(120%);
    align-items: center;
    padding: 7px 0;
    margin: 0;
}

.tabs > button.active {
    filter: brightness(100%);
    align-items: center !important;
    padding: 5px 0 7px 0 !important;
    margin: 2px 0 0 0 !important;
}

.tabs > button > img {
    width: 16px;
    height: 16px;
    padding: 0 5px 0 10px;
}

.tabs > button > div {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex: 1;
    padding: 0 10px 0 5px;
}

.editors {
    display: flex;
    padding: 5px;
}

#hostsEditor {
    flex-grow: 1;
}

.hostsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#hostsTextArea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    overflow-y: scroll;
}

#hostsParseButton {
    width: fit-content;
    align-self: center;
}

.filter {
    height: fit-content;
}

.filter:hover {
    outline: 1px solid white;
}

.filter p {
    margin: 0;
    width: fit-content;
}

#filtersEditor {
    flex-direction: column;
    height: 100%;
}

#filtersContainer {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1px;
}
