.gvp-logo-container {
    position: fixed;
    padding: 5px;
    top: -10px;
    transform: translate('50%');
}

#gvp-close-reveal {
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid white 1px;
    cursor: pointer;
}

.gvp-positive-checkbox {
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s;
}

.gvp-negative-checkbox {
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s;
}

.gvp-positive-checkbox:hover {
    background-color: rgb(12, 145, 0);
}

.gvp-negative-checkbox:hover {
    background-color: rgb(179, 0, 0);
}

.gvp-feedback-label {
    font-weight: bold;
}

.gvp-feedback-checkboxes {
    display: flex;
    flex-direction: column;
}

.gvp-tagbox {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.500);
}

.gvp-reveal-checkbox {
    display: flex;
}

.gvp-reveal-checkbox img{
    width: 40px;
    height: 40px;
}

#gvp-reveal-submit {
    display: flex;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
}

#gvp-reveal-button {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#gvp-noreveal-button {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#gvp-reveal-submit button {
    width: 200px;
    padding: 13px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.700);
}

#gvp-reveal-submit button:hover {
    font-weight: bold;
    background-color: rgb(70, 70, 70);
}

.gvp-feedback-checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body {
    background-color: rgb(228, 228, 228);
}

#gvp-user-feedback-section {
    background-color: rgb(41, 41, 41);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.781);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    border: 1px solid white;
    width: 300px;
    height: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

#gvp-user-feedback {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 5px rgb(20, 20, 20);
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.gvp-image-preview-container {
    padding: 10px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
}

.gvp-image-preview-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(20, 20, 20);
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.gvp-tags-label {
    font-family: Arial, Helvetica, sans-serif;
}

#gvp-image-preview-tags {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 18, 18);
    font-weight: bold;
}

#gvp-image-preview {
    filter: blur(5px);
    max-width: 300px;
    max-height: 175px;
    object-fit: contain;
    border-radius: 5px;
}

#gvp-reveal-preview {
    padding: 13px;
    border-radius: 30px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.700);
}

#gvp-reveal-preview:hover {
    background-color: rgb(70, 70, 70);
    font-weight: bold;
}

.gvp-reveal-image-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 10px;
    width: 85%;
    height: 80%;
    box-shadow: 0 0 5px black;
}

#gvp-reveal-image {
    color: white;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    width: 450px;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    user-select: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.gvp-reveal-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.gvp-whitelist {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px rgb(255, 255, 255);
}

#gvp-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.800);
    backdrop-filter: blur(5px);
}