#gvp-notification-content {
    align-items: center;
    color: rgb(197, 47, 47);
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5px;
}

#gvp-notification {
    align-items: center;
    background-color: rgb(53, 53, 53);
    border: solid black 2px;
    border-radius: 5px;
    display: flex;
    height: 120px;
    justify-content: center;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 200px;
}

#gvp-close-notification {
    aspect-ratio: 1/1;
    background-color: white;
    border: solid white 1px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
}

#gvp-close-notification:hover {
    height: 25px;
    right: -8px;
    top: -8px;
}
