#gvp-notification-content
{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 47, 47);
}
#gvp-notification
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 120px;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
}

#gvp-close-report
{
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 20px;
    font-weight: bold;
    border: solid black 1px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid white 1px;
    cursor: pointer;
}