.gvp-logo-container{
    background-color: rgba(88, 88, 88, 0.452);
    position: fixed;
    padding: 5px;
    clip-path: circle();
    left: 15px;
    top: 15px;
}
.gvp-positive-checkbox{
    cursor: pointer;
    border-radius: 20px;
}
.gvp-negative-checkbox{
    cursor: pointer;
    border-radius: 20px;
}
.gvp-positive-checkbox:hover{
    background-color: rgb(12, 145, 0);
    transition: 0.3s;
}
.gvp-negative-checkbox:hover{
    background-color: rgb(179, 0, 0);
    transition: 0.3s;
}
.gvp-feedback-checkboxes{
    display: flex;
    flex-direction: column;
}
.gvp-tagbox{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 15px;
}
.gvp-checkbox{
    display: flex;
}
.gvp-checkbox img{
    width: 40px;
    height: 40px;
}
#gvp-reveal-submit
{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 0 5px rgb(20, 20, 20);
    width: 90%;
    border-radius: 10px;
    padding: 20px;
}
#gvp-reveal-submit button
{
    padding: 13px;
    border-radius: 8px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}
#gvp-reveal-submit button:hover
{
    background-color: rgb(70, 70, 70);
}
.gvp-feedback-checkboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
body{
    background-color: rgb(228, 228, 228);
}
#gvp-user-feedback-section{
    background-color: rgb(189, 189, 189);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.781);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    border: 1px solid white;
    width: 300px;
    height: 100px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}
#gvp-user-feedback
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 0 5px rgb(20, 20, 20);
    width: 90%;
    border-radius: 10px;
    padding: 20px;
}
.gvp-image-preview-section{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(20, 20, 20);
    align-items: center;
    background-color: rgb(48, 48, 48);
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}
#gvp-image-preview-tags{
    font-family: Arial, Helvetica, sans-serif;
}
#gvp-image-preview{
    filter: blur(5px);
    max-width: 300px;
    max-height: 175px;
    object-fit: contain;
    border-radius: 5px;
}
#gvp-reveal-preview{
    padding: 8px;
    border-radius: 8px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}
#gvp-reveal-preview:hover{
    background-color: rgb(70, 70, 70);
}
.gvp-reveal-image-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 30px;
    width: 85%;
    height: 80%;
    box-shadow: 0 0 5px black;
}
#gvp-reveal-image{
    color: white;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    width: 450px;
    background-color: rgb(41, 41, 41);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    user-select: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.gvp-reveal-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#gvp-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.800);
}